body{
    padding: 50px;
}

div{
	display: inline-block;
}

h3{
	text-align: right;
	margin: 0;
	font-size: 12px;
}
.HeartAnimation {

  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/66955/web_heart_animation.png');
	background-repeat: no-repeat;
	background-size: 2900%;
  background-position: left;
	height: 50px;
	width: 50px;
  margin: 0 auto;
  cursor: pointer;
}

.animate {
  animation: heart-burst .8s steps(28) forwards;
}

@keyframes heart-burst {
	0% {
		background-position: left
	}
	100% {
		background-position: right
	}
}

.img-wrapper{
    display: table;
    height: 140px;
    width: 200px;
    table-layout: fixed;
    float: left;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 12px;
}
.outer{
    height: 100%;
}
.inner{
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #e6e6e6;
    vertical-align: middle;
}
.inner img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 128px;
}

